.watchlist-wrapper-div {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  background-color: #282c34;
}

.watchlist{
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 1rem;
  border-radius: 8px;
  align-self: flex-start;
  background: #111827;
}

/* User added styles from local copy */
.watchlist li{
    text-decoration: none;
}
.watchlist li a{
    text-decoration: none;
    color: black;
}
